[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FateID"]
	path = FateID
	url = https://github.com/dgrun/fateid
[submodule "RaceID"]
	path = RaceID
	url = https://github.com/cran/RaceID
